.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}
.hero-section {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 677px;
    align-content: center;
}

.hero-content {
    max-width: 630px;
    background: radial-gradient(circle, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 70%);
    padding: 150px 15px;
    margin: 0 auto;
}

.hero-content h1 {
    margin: 0;
    font-size: 90px;
    font-family: "Mouse Memoirs", sans-serif;
    color: white;
}

.hero-content p {
    color: white;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 18px;
    margin: 15px 0px 40px 0px;
}

.custom-button {
    width: 147px;
    height: 50px;
    font-family: "Mouse Memoirs", sans-serif;
    color: #473629;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7ec6bc;
    font-size: 22px;
}

.custom-button:hover {
    color: white;
    background-color: #629a92;
}

.how-it-works-section h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 50px;
    color: #473629;
    margin-top: 100px;
    text-align: center;
}

.hiw-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.hiw-card {
    width: 330px;
    min-width: 330px;
    height: 500px;
    background-color: white;
    text-align: center;
    position: relative;
    padding: 30px 20px;
}

.hiw-card h2 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 102px;
    color: #7ec6bc;
    -webkit-text-stroke: 1px white;
    margin: 0;
    margin-top: -80px;
    line-height: 1;
}

.hiw-card h3 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 25px;
    color: #483729;
    margin: 0;
}

.hiw-card p {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 18px;
    color: #483729;
    margin: 0;
}

.bullet-section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    gap: 30px;
}

.bullet-section-heading {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
}

.bullet-section-left {
    max-width: 500px;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 18px;
    color: #483729;
    margin: 0;
}

.bullet-section-left button {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: white;
    background-color: #db7624;
    width: 192px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bullet-section-left button:hover {
    background-color: #c96d22;
}

.bullet-section-left h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 60px;
    color: #483729;
    margin: 0;
}

.bullet-points {
    padding: 0;
}

.bullet-point {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}

.image-with-note-section {
    background-image: url('{{ "bg-blue.png" | asset_url }}');
}

.image-with-note-content {
    display: flex;
    padding-top: 400px;
    flex-direction: column;
    text-align: center;
}

.image-with-note-content h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 50px;
    color: #483729;
    margin: 0;
}

.image-with-note-content p {
    position: relative;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 18px;
    color: #483729;
    margin: 10px 0px;
}

.note {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 30px;
    padding-top: 0;
    border-radius: 5px;
    right: 0;
}

.note img {
    object-fit: contain;
    margin-top: -50px;
}

.images-main {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
    justify-content: center;
}

.image-and-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.images-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.images-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reviews-section h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 50px;
    color: #483729;
    margin-top: 100px;
    text-align: center;
}

.arrow-button {
    padding: 0;
    border: none;
    cursor: pointer;
}

.reviews-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.reviews-slider p {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 22px;
    color: #483729;
    text-align: center;
    margin: 0;
}

.review-author {
    color: #db7624 !important;
    font-weight: 600;
    margin-top: 30px !important;
}

.review-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-slide img {
    object-fit: contain;
    margin-bottom: 15px;
}

.image-slider-section h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 50px;
    color: #483729;
    margin-top: 100px;
    text-align: center;
}